[run]
omit =
    test_*.py
    */tests/*
    */venv/*
    */.venv/*
    */site-packages/*
    main.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    raise AssertionError
    raise NotImplementedError
    if __name__ == "__main__":

[html]
directory = htmlcov
